
::-webkit-scrollbar {
    height: 0.75rem;
    width: 0.75rem;
    
}

::-webkit-scrollbar-track {
    background: rgba(23, 22, 22);
}


::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 1rem;
    border: 2px solid var(--lightDark);
}

::-webkit-scrollbar-thumb:hover {

    border: 2px solid var(--applegreen);

}


html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;   
}


:root {

    /*---------Linear Gradient-------------*/
    --darklighht: linear-gradient(260deg, rgba(0, 0, 0) 0%,  rgba(0, 0, 5) 35%, rgba(23, 22, 22, 1) 100%);
    --darksky: linear-gradient(90deg, rgba(4,1,43,1) 0%, rgba(13,6,130,1) 50%, rgba(4,1,43,1) 100%);
    --darksky2: radial-gradient(circle, rgba(4,1,43,1) 0%, rgba(13,6,130,1) 30%, rgba(4,1,43,1) 90%);
    --preDark: radial-gradient(circle, rgba(20,20,22,1) 0%, rgba(11,11,11,1) 45%, rgba(1,0,8,1) 100%);
    --darkapple: linear-gradient(315deg, #000000 0%, #1c1a1f 74%);
    --darkapple2: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.192) 40%, hwb(264 10% 88%) 74%, hwb(264 10% 88%) 100%);
    --cyan: #4158D0;
    --gradeientmegnta: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    /*--X-------Linear Gradient-----------X--*/

    /*--------- Color-------------*/
    --darkblue: #04012b;
    --applegreen: #00FF00;
    --dark: #000000;
    --lightDark: #171616;
    --lavander: rgb(90, 20, 160);
    --cyan: #0057FF;

    /*----X----- Color----------X---*/

}

.signup {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.video-form {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    mix-blend-mode: screen;
}

.bg-overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: color-burn;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;

}

.my-logo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 800px;
    height: 100%;
    background-image: url(../images/bg\ back\ orange.png) ;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 15%;
    position: relative;

}

.logo-img {
    width: 250px;
    height: 70px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: top;
    position: absolute;
    top: 5%;
    margin-left: 1.5rem;
}

.reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    width: 320px;
    height: 400px;
    flex-direction: column;
    z-index: 200;
    box-shadow: 0 4px 125px rgba(0, 0, 0, 50%),
    0 10px 14px rgba(0, 0, 0, 24%);
    border: 4px solid var(--applegreen);
    border-radius: 0.75rem;
    position: absolute;
    right: 22%;
    
}

.reg-container h2 {
    color: var(--applegreen);
}

.form-list {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 270px;
    height: 320px;  
}

.form-input {
    width: 100%;
    height: 30px;
    margin: 0.5rem;
    padding: 0.5rem;
    background: transparent;
    border-style: none;
    border: 2px solid rgb(230, 228, 228);
    box-shadow: 0 2px 5px var(--dark);
    border-radius: 0.5rem;
    position: relative;

}

.form-input::placeholder {
    color: var(--applegreen);
}

.form-input :active {
   border-style: none;
}

.form-btn {
    width: 100px;
    height: 30px;
    margin: 2rem;
    display: flex;
    color: var(--applegreen);
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px var(--dark);
    border: 2px solid var(--applegreen);
    border-radius: 1rem;
    background: transparent;

}

.reg-container p {
    display: flex;
    width: 100%;
    top: -9%;
    justify-content: center;
    align-items:center ;
    position: relative;
}